.form-horizontal{
	margin:80px 0 0 520px;
}
.table{
	margin:0 0 0 250px;
	width:400px;
} 
th{
	color:black;
	font-size:16px;
	font-weight: bold;
	text-align:center;
	background-color:#936c6c;
}
tr td{
	text-align: center;
	font-size:14px
}

tr td:nth-child(even){
	background-color:silver;
}
h2{
	text-align: center;
	padding:100px 0 0 300px;
	color: #808080;
	text-decoration:underline;
}
.pull-right{
	margin:20px 40px 0 250px;
}
.pull-center{
	margin:10px 0px 0 18px;
}

h1{
	padding:0 0 0 200px;
	text-decoration:underline;
}
.form-group{
	margin:30px 0 0 30px;
	color: black;
}